<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Degree list on Vue.js</title>
    <script src="vue.js"></script>
    <style>
      ul {
        margin: 10px 0 0 0;
        padding: 0;
      }
      li {
        margin-bottom: 10px;
        padding: 0;
        list-style: none;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <button @click="degreeUp">⬆</button>
      <input v-model="count" value="count" @input="degree" />
      <ul>
        <li v-for="(value, index) in valueList" :key="index">
          2<sup>{{ index }}</sup> = {{value}}
        </li>
      </ul>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          valueList: [],
          count: 5
        },
        created: function() {
          for (let i = 1; i <= this.count; i++) {
            this.valueList.push(Math.pow(2, i));
          }
        },
        methods: {
          degree: function() {
            this.valueList = [];
            for (let i = 1; i <= this.count; i++) {
              this.valueList.push(Math.pow(2, i));
            }
          },
          degreeUp: function() {
            this.count++;
            this.degree();
          }
        }
      });
    </script>
  </body>
</html>
